---
import Neo4J from 'src/logos/Neo4j.svg';
import SAP from 'src/logos/SAP.svg';
import Soundtrack from 'src/logos/Soundtrack.svg';
import Tailor from 'src/logos/Tailor.svg';
import TheGuild from 'src/logos/TheGuild.svg';
import TripAdvisor from 'src/logos/TripAdvisor.svg';
import Walmart from 'src/logos/Walmart.svg';
import WunderGraph from 'src/logos/WunderGraph.svg';
---

<div class="grid grid-cols-2 md:grid-cols-5 mt-24 w-full">
  <div class="bg-black h-32 flex items-center justify-center">
    <span class="text-white px-4 font-bold text-center">With love and support</span>
  </div>
  <div class="bg-gray-600 h-32 flex items-center justify-center">
    <img class="h-12 w-12" src={WunderGraph} alt="WunderGraph" />
  </div>
  <div class="bg-black h-32 flex items-center justify-center">
    <img class="h-10 w-10" src={TheGuild} alt="TheGuild" />
  </div>
  <div class="bg-gray-600 h-32 flex items-center justify-center">
    <img class="h-12 w-24" src={Walmart} alt="Walmart" />
  </div>
  <div class="bg-black h-32 flex items-center justify-center">
    <img class="h-12 w-12" src={SAP} alt="SAP" />
  </div>
  <div class="bg-gray-600 h-32 flex items-center justify-center">
    <img class="h-12 w-28" src={TripAdvisor} alt="TripAdvisor" />
  </div>
  <div class="bg-black h-32 flex items-center justify-center">
    <img class="h-12 w-16" src={Neo4J} alt="Neo4J" />
  </div>
  <div class="bg-gray-600 h-32 flex items-center justify-center">
    <img class="h-12 w-16" src={Tailor} alt="Tailor" />
  </div>
  <div class="bg-black h-32 flex items-center justify-center">
    <img class="h-12 w-20" src={Soundtrack} alt="Soundtrack" />
  </div>
  <div class="bg-gray-600 h-32 flex items-center justify-center">
    <span class="text-white font-bold">And many more</span>
  </div>
</div>
